<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPersonId()})}" th:object="${person}">
    <label for="FIO"> Enter FIO: </label>
    <input type="text" th:field = "*{FIO}" id="FIO"/>
    <div style="color: red" th:if="${#fields.hasErrors('FIO')}" th:errors="*{FIO}">FIO error</div>
    <br/>
    <label for="year"> Enter year: </label>
    <input type="text" th:field = "*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>
    <input type="submit" value="Edit current person"/>
</form>


</body>
</html>